@model List<GetUserResponse>
@{
    Layout = "~/Views/Shared/_LossSounsLayout.cshtml";
}


<div class="row align-items-center text-white">
    <div class="col-lg-12 mt-4">
        <h2>Usuarios</h2>

        @Html.ActionLink("Agregar Usuario", "UserCreate", "User")
    </div>



    <div class="col-lg-12 mt-2">
        <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>Nombre Usuario</th>
                        <th>Rol</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nombre_Usuario</td>
                            <td>@item.Rol</td>
                            <td>@(item.Active ? "Activo" : "Inactivo")</td>
                            <td>
                                <button class="btn btn-primary" onclick="fnEditUser(@item.ID_USUARIO)">Editar</button>
                                <button class="btn btn-danger" onclick="fnDeleteUser(@item.ID_USUARIO)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.min.js"></script>
<script>
    function encrypt(plainText, key = "abc123abc123abc123abc123abc12312", ivString = "1234567890123456") {
        var keyUtf8 = CryptoJS.enc.Utf8.parse(key);
        var ivUtf8 = CryptoJS.enc.Utf8.parse(ivString);

        var encrypted = CryptoJS.AES.encrypt(plainText, keyUtf8, {
            iv: ivUtf8,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7
        });

        return encrypted.toString();
    }

    function fnEditUser(idUsuario) {
        var encryptedId = encrypt(idUsuario.toString());
        window.location.href = '@Url.Action("UserEdit", "User")?ID_User=' + encodeURIComponent(encryptedId);
    }

    function fnDeleteUser(idUsuario){
        if (confirm("Estas seguro de eliminar este usuario?")) {

            var encryptedId = encrypt(idUsuario.toString());

            $.ajax({
                url: '@Url.Action("DeleteUser", "User")',
                type: 'POST',
                data: { ID_User: encryptedId },
                success: function (response) {
                    alert(response.message);

                    if (response.success) {
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("Ocurrio un error. Intente más tarde.");
                }
            });
        }
    }


</script>


