@model List<GetUserResponse>
@{
    Layout = "~/Views/Shared/_LossSounsLayout.cshtml";
}

<div class="row text-white">
    <div class="col-lg-12 ">
        <h2 class="mt-4">Editar Usuario</h2>
    </div>
    <br />
    <form>
        @foreach (var item in Model)
        {
            <div class="mb-3">
                <label for="UserName" class="form-label">Nombre de usuario</label>
                <input type="text" id="UserName" class="form-control" value="@item.Nombre_Usuario"/>
            </div>

            <div class="mb-3">
                <label for="rol" class="form-label">Roles</label>
                <select id="rol" class="form-select">
                    @foreach (var roles in ViewBag.Roles)
                    {
                        if (roles.Text == item.Rol)
                        {
                            <option value="@roles.Value" selected>@roles.Text</option>
                        }
                        else
                        {
                            <option value="@roles.Value">@roles.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="mb-3">
                <label for="Active" class="form-label">Activo?</label>
                @if (item.Active)
                {
                    <input type="checkbox" id="Active" checked class="form-check-input" />
                }
                else
                {
                    <input type="checkbox" id="Active" class="form-check-input" />
                }
            </div>

            <button type="button" class="btn btn-success" onclick="fnEditUser(@item.ID_USUARIO)">Guardar</button>
        }
    </form>

</div>
  @Html.ActionLink("Regresar al listado", "UserIndex", "User")

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script type="text/javascript">

    // $(document).ready(function () {

    // });

    function encrypt(text) {
        var key = CryptoJS.enc.Utf8.parse("abc123abc123abc123abc123abc12312"); // 32 bytes key
        var iv = CryptoJS.enc.Utf8.parse("1234567890123456"); // 16 bytes IV

        var encrypted = CryptoJS.AES.encrypt(text, key, {
            keySize: 256 / 32,
            iv: iv,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7
        });

        return encrypted.toString();
    }

    function fnEditUser(UserID) {
        var jsonModel = {
            "Nombre_Usuario": document.getElementById('UserName').value,
            "ID_Rol": document.getElementById('rol').value,
            "Active": document.getElementById('Active').checked
        }

        var userIdEncrypt = encrypt(UserID.toString());

        $.ajax({
            url: '@Url.Action("UserEdit", "User")',
            type: 'POST',
            dataType: 'json',
            data: { ID_User: encodeURIComponent(userIdEncrypt), EditUser: jsonModel }, // Utiliza encodeURIComponent
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    window.location.href = '@Url.Action("UserIndex", "User")';
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                console.log("Error en la solicitud AJAX.");
            }
        });
    }


</script>
