@inject IHttpContextAccessor HttpContextAccessor
@using System.Text.Json;
@{
    var httpContext = HttpContextAccessor.HttpContext;
    //Usuario loggeado
    Settings settings = JsonSerializer.Deserialize<Settings>(httpContext.Session.GetString("UserLogged"));

    string saludo;
    var hora = DateTime.Now.Hour;
    if (hora < 12 && hora > 6)
    {
        saludo = "Buenos días";
    }
    else if (hora > 12 && hora < 20)
    {
        saludo = "Buenas tardes";
    }
    else
    {
        saludo = "Buenas noches";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - frontendLossSounds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css.map" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/frontendLossSounds.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #141414;
        }

        main {
            overflow-y: auto;
        }


        .linea-blanca {
            border-bottom: 2px solid white; /* Línea blanca en la parte inferior */
        }


        .input {
            background-color: white;
            outline: none;
            border: solid 2px #6b2c88;
            border-radius: 20px;
            padding: 10px 20px;
            color: #ffffff;
            cursor: pointer;
            transition: background-color .3s ease;
        }

            .input:hover {
                background-color: plum;
                border: none;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
            }
    </style>

</head>
<body class="min-vh-100">
    <nav>
        <div class="row g-0 linea-blanca align-items-center">
            <div class="col-3">
                <div class="row d-flex align-items-center">
                    @if (settings.RolID == 1)
                    {
                        <div class="col-4">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("UserIndex", "User")" class="dropdown-item">Usuarios</a></li>
                                    <li><a href="@Url.Action("RolesIndex", "User")" class="dropdown-item">Roles</a></li>
                                    <li><a class="dropdown-item">Música</a></li>
                                </ul>
                            </div>
                        </div>
                    }


                    <div class="col-8 p-0">
                        <h3 class="text-light mx-4 mt-3 responsive-text">
                            LossSounds
                        </h3>
                        <div class="d-flex align-items-center mx-4">
                            <h5 class="text-white responsive-text">@saludo @settings.NombreUsuario</h5>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
               @*  <div class="mx-3 mt-3 mb-3 text-end">
                    <input class="input" id="text-buscar" placeholder="Descubre nueva musica" type="text">
                    <select class="input" id="opciones-cancion"></select>
                </div> *@
            </div>


            <div class="col-md-3 text-end">
                <form action="/Home/LogOut" method="post">
                    <button type="submit" class="btn btn-outline-danger mb-3 mt-3 me-4">Cerrar sesión</button>
                </form>

            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
